* { box-sizing: border-box;}

h1, h2, h3, a {
	color: #ddd;
}


#outer::-webkit-scrollbar {
  height: 12px;
	width: 9px;
	background: #222;
}
#outer::-webkit-scrollbar-thumb {
  background: #999;
	border:1px solid black;
  border-radius:3px;
  color:red;
}
#outer::-webkit-scrollbar-corner {
  background: #000;
}

#outer {
  max-height:510px;
  overflow-y:scroll;
  margin-top:33px;
}

.padding {
	padding:0 20px;
}

.container {
	float:left;
	overflow:hidden;
	width:100%;
}

.container .container {
	padding-left:20px;
}

.hidden {
	height:2em;
}

.badge {
	background-color: gray;
    color: white;
    border-radius: 10px;
    display: inline-block;
    min-width: 16px;
	text-align: center;
	padding: 0 4px 0 5px;
	display:none;
}

.badge-warning {
	background-color: red;
}

.badge-info {
	background-color: #268fff;
}

.badge-count {
	background-color: transparent;
    box-shadow: inset 0 0 1px 1px #929292;
}

.itemsCount {
	color:rgba(255,255,255,0.2);
}

.hidden > div > .badge {
	display:inline-block;
}

.ad_seo_title {
	width: 100%;
}

.container > .ad_seo_title:first-child {
	cursor:pointer;
	padding:5px 20px 5px 10px;
	background:#3e3e3e url("../images/close.png") right 3px no-repeat;
}
.hidden > .ad_seo_title:first-child {
	background:#333 url("../images/open.png") right 3px no-repeat;
}

.minitoolbar {
    position: absolute;
    top: 7px;
	right: 7px;
	display:none;
}

.minitoolbar span {
    float: right;
    background: #777;
    border: 0;
    border-radius: 6px;
    box-shadow: none;
    color: white;
    text-shadow: none;
    padding: 2px 10px;
    font-weight: bold;
	margin-left: 10px;
	cursor:pointer;
}

body {
	font-family: arial, sans-serif;
	font-size:12px;
	width:660px;
	background-color:black;
	color:white;
	margin:0;
	padding:0;
  overflow:hidden;
}

.w33 {width:33.3%;}
.w100 {width:100%;}
.inlineFavicon {vertical-align:middle; margin:1px; width:16px; height:16px;}

#main {
	background-color:#222;
	padding: 8px 0px 6px 0px;
	width:100%;
	float:left;
}

.checkbox {
	white-space:nowrap;
}

.extra {
	padding:5px 0;
	display:none;
}

hr {
	clear: both;
	border-bottom: 0;
	border-top: 1px solid #ccc;
	margin-top:10px;
}

.panel {
	min-height:100px;
	float:left;
}

#out {
	line-height: 13px;
}

#tools , #options, #about {
	display:none;
}

.big {
  font-size: 15px;
  line-height:auto;
}

.bigbutton {
  color: white;
  font-weight: bold;
  background-color: #009de8;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
}

td {vertical-align:top;}

li {margin-bottom:10px}
ul.previous li {color:#bbb}


.ad_seo_item {
	padding: 0px 0px 4px 20px;
	word-break:break-all;
	float: left;
	width: 100%;
}

.ad_seo_item_inner {
	float: left;
	clear: both;
}

.warning span, span.warning, .info span, span.info {
	font-weight: bold;
	padding: 1px 4px 0px 4px;
	display: inline-block;
	border-radius: 2px;
	vertical-align: 0;
}

.warning span, span.warning {
  background-color: #de2323;
  color: white;
}

.info span, span.info {
  background-color: #268fff;
  color: white;
}

/* .ad_seo_item .warning, .ad_seo_item .info, .ad_seo_item  .ad_seo_item {
	padding-left:0;
} */

.tip {
  cursor:help;
  padding: 1px 6px;
  background-color: #fff700;
  border-radius: 20px;
  color: black;
  margin-left: 5px;
  font-size: 90%;
}

.ad_seo_title_section {
  text-shadow: rgba(255, 255, 255, 0.74902) 0px 0px 1px;
	letter-spacing: 1.5px;
	padding: 6px 0px 0px 0px;
	font-weight: normal;
  float:left;
  font-size:12px;
  margin-bottom: 4px;
}

.ad_seo_title {
	text-shadow: rgba(255, 255, 255, 0.74902) 0px 0px 1px;
	letter-spacing: 1.5px;
	padding: 6px 0px 0px 10px;
	font-weight: normal;
	float:left;
	font-size:11px;
	margin-bottom: 4px;
}

.attr_name{
	color: #2DD4A4;
}

.attr_link { color:#287862; }
.attr_link span { color: #18e0a7; }

.cont_link { color:#888; }
.cont_link span { color: #fff; }

.item { color: #2DD4A4; }
.item_count { color: #bebebe !important;
  background-color:transparent !important;
  white-space:nowrap;
  font-weight:normal;
}

.str_H1 {padding-left:0px}
.str_H2 {padding-left:15px}
.str_H3 {padding-left:30px}
.str_H4 {padding-left:45px}
.str_H5 {padding-left:60px}
.str_H6 {padding-left:75px}
.hskip {color:red;}

.ad_seo_item img {
	width: 16px;
	max-height: 16px;
	vertical-align: -36%;
	margin: -2px 2px -1px 0px;
}

/* items too long that could be cropped */
.oneline {
  width: 630px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* topbar */

#topBar {
	background-color:black;
	width:100%;
	height:33px;
	position:fixed;
	top:0;
	left:0;
  z-index:999;
}


/* #appTitle {
	font-size: 12px;
	font-weight: bold;
	padding: 9px 5px;
	float: right;
	color:white;
}

#appTitle a {
	color:#888;
	text-decoration:none;
  padding:6px;
} */

#menu {
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	float:left;
	cursor:default;
}

#menu span {
	display:inline-block;
	color:#49b9efcc;
	cursor:pointer;
	height: 33px;
	padding: 7px 8px 0 8px;
	border-bottom: 4px solid transparent;
}

#menu span.active {
	cursor:default;
	color: #49b9ef;
	border-bottom: 4px solid #009de8;
}

label {
	margin-bottom:10px;
	display:block;
}

table th {
    text-align: left;
    font-size: 10px;
	color: #bbb;
	border-bottom:1px solid #555;
}

table td {
	vertical-align: top;
	border-bottom:1px solid #555;
	word-break: break-all;
	min-width: 50%;
}

table tr td:not(:last-child) {
	border-right:1px solid #555;
	padding-right:5px;
}

table tr th:not(:first-child) {
	padding-left:5px;
}

table tr td:not(:first-child) {
	padding-left:5px;
}

table.table {
	width:100%;
	margin-bottom:5px;
}

table.table th {
	white-space: nowrap;
}

table.table td.bg_warning {
	background-color: #300;
}

table.table td.bg_info {
	background-color: rgb(0, 26, 51);
}

.nowrap {
	white-space:nowrap;
}